body
{	margin: 0;
/*	background-color: #292C29;*/
  background: url('star.jpg') repeat;
	font-family: "Comic Sans MS", cursive, sans-serif;
	line-height: 135%;
	color: white;
}

div
{	
}

div.container
{	overflow: hidden;
	border: none;
	margin: 0;
	padding: 0;
}

div.topbar
{	background: url('wood_grain.jpg');
	background-size: 100%;
	padding: 5%;
	box-shadow: 0 5px 25px black;
	position: relative;
	visibility: hidden;
}

div.botbar
{	background: url('wood_grain.jpg');
	background-size: 100%;
	padding: 2.5%;
	margin-top: 1%;
	border-top: 3pt solid #DEE3E7;
	visibility: hidden;
}

div.links
{	/*background-color: #292C29;/*linear-gradient(#292C29, #494D49);*/
	border-bottom: 3pt solid #009AF7;
	padding: 4%;
}

.center
{ 	margin-left: auto;
	margin-right: auto;
	display: block;
}

.left
{	float: left;
}

.right
{ 	float: right;
}

#content
{	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border-left: 1pt solid black;
	border-right: 1pt solid black;
	margin: none;
	padding: none;
/*	background-color: #FFFFFF;*/
}

#header
{/*	background-color: #00699C;*/
	padding: 5%;
}

#sidebar 
{   float: right;
    width: 25%;
/*	background-color: #EFEFEF;*/
	margin: 2%;
	padding: 2%;
}
	
#main 
{   float:left;
    width: 60%;
	padding: 2%;
}

#footer 
{   clear: both;
	text-align: center;
}

#header, #sidebar, #main, #footer
{	
}

/* 
	http://stackoverflow.com/questions/6922755/html-css-full-height-sidebar 
	http://www.mi9.com/wallpaper/buddha-wallpaper_14341/
*/
